.dashboard-container {
  padding: 20px;
  text-align: center;
  background: #f4f6f9;
  min-height: 100vh;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin: 30px 0;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}



.card h3 {
  color: #004aad;
  margin-bottom: 10px;
}

.card p {
  font-size: 22px;
  font-weight: bold;
  color: #222;
}

.chart-section {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}
